@import '../../theme/main.scss';
.main {
  background-image:  url("../../../assets/images/pizzaBg.jpg");
  @include  background-pos();
  background-attachment: fixed;
  padding-top: 114px;

  height: 700vh;
  display: flex;
  justify-content: center;
  @include for-size(tablet) {
    height: 300vh;
  }

}


