.main {
  background-image:  url("../../../assets/images/pizzaBg.jpg");
  background-repeat:no-repeat ;
  background-position:center;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  color: #010101;
  position :relative;

}


