@import '../../theme/main.scss';
.orderView {
  background-image:  url("../../../assets/images/pizzaOrderbg.jpg");
  @include  background-pos();
  background-attachment: fixed;
  padding-top: 20px;

  height: 200vh;
  display: flex;
  justify-content: center;
  @include for-size(tablet) {
    height: 100vh;
  }

}

