@import '../../../theme/main.scss';
.item{
  &__card {
    background-color: rgba(249, 249, 250, 0.99);
    border-radius: 4px;
    overflow: hidden;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
      box-shadow: collection-shadows(card-shadow);
    }
    &:hover {
      .item__textOverlay {
        transform: translatey(0);
      }
    }
  }
  &__content{
    padding: 10px;
  }
  &__title{
    font-family: 'Roboto Slab', serif;
    font-size: 20px;
    color: rgba(70, 70, 79, 0.99);
  }
  &__price{
    padding-top:7px;
    font-family: 'Roboto Slab', serif;
    font-size: 20px;
    color: rgba(70, 70, 79, 0.99);

  }
  &__control{
    display: grid;
    grid-row-gap: 25px;
    grid-column-gap: 25px;
    grid-template-columns: repeat(1, 1fr);
    padding: 10px 0;
    align-items: center;
  }
  &__img__overlay{
    position: relative;
    overflow: hidden;
  }
  &__textOverlay{
    position: absolute;
    top: 0;
    left: 0;
    @include for-size(to-mobile) {
      @include font-modify(#ffff, 12, 400, 0.03em, 26);
      padding: 38px 24px;
    }

    @include add-size(100%, 100%);
    background: rgba(33, 150, 243, 0.9);
    @include font-modify(#ffff, 18, 400, 0.03em, 28);
    padding: 63px 24px;
    transform: translatey(101%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  }
}
._overlay {

}
.order__addBtn{
  font-family: 'Roboto Slab', serif;
  font-size: 15px;
  color: rgba(70, 70, 79, 0.99);
  border:none;
  padding: 12px 20px;
  border-radius: 5px;
  background-color: #ec450a;
  color: #f5f4fa;
  cursor: pointer;
  &:hover {
    box-shadow: collection-shadows(card-shadow);
  }

}
.CntrBtn{
  background-color: inherit;
  width: 45px;
  height: 45px;
  border:none;
  margin: 0 7px;
  &__icon{
    width: 35px;
    height: 35px;
  }

  cursor: pointer;
}
.order__conrtol{
  display: flex;align-items: center;
  justify-content: center;
}
.itemPizzaLogo{
  fill:#ffffff;
  width: 113px;
  margin-top: -325px;
}
.display__qnt{
  font-family: 'Roboto Slab', serif;
  font-size: 20px;
  color: rgba(70, 70, 79, 0.99);

}
